.resetPassword{
    width: 40rem;
    height: 25rem;
    position: absolute;
    top: 60%;
    right: 30%;
    background-color:#EFEEEE;
    border: 1px solid black;
    z-index: 1000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .cross{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 35px;
        .hidden{
            visibility: hidden;
        }
        .div{
            display: flex;
            justify-content: center;
            .currentPassword , .newPassword , .confirmPassword{
                width: 90%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                input{
                    width: 367px;
                    height: 50px;
                    border-radius: 20px;
                    padding: 20px;
                }
            }
        }
        .changeButton{
            width: 20%;
            height: 43px;
            padding: 10px 87px;
            border-radius: 20px;
            border: 2px solid #F00;
            background: #AF0000;
        }
    }
}